<footer class="footer section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a href="/" class="logo footer__logo">
          <svg width="203" height="25">
            <use xlink:href="assets/img/sprite.svg#logo-white"></use>
          </svg>
        </a>
        <address class="footer__address">
          127015, г. Мо­сква, вн. тер. г. муниципальный округ Бутырский, ул. Новодмитровская, д. 2, корп. 2,этаж 12, комнаты 12.27, 12.28, 12.29, 12.30, 12.31.
        </address>
        <div class="footer__contacts">
          <span>телефон:</span>
          <a href="tel:+74951362150">+7 (495) 136-21-50</a>
        </div>
        <div class="footer__contacts footer__contacts_email">
          <span>e-mail:</span>
          <a href="mailto:info@mrcapital.ru">info@mrcapital.ru</a>
        </div>
        <a href="" class="footer__presentation presentation-link">
          <svg width="6" height="10">
            <use xlink:href="assets/img/sprite.svg#sm-arrow"></use>
          </svg>
          <span>Скачать презентацию</span>
        </a>
      </div>
      <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-2 col-md-6">
        <div class="address">
          <a href="/" class="logo address__logo">
            <svg width="203" height="25">
              <use xlink:href="assets/img/sprite.svg#logo-white"></use>
            </svg>
          </a>
          <p class="address__content">г. Мо­сква, ул.
            Новодмитровская, д. 2,
            корп. 2,этаж 12,
            комнаты 12.27, 12.28,
            12.29, 12.30, 12.31.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="footer__bottom">
        <p class="footer__copyright">&copy; MR CAPITAL AM, LLC, 2023</p>
          <a href="" class="footer__personal">Политика обработки персональных данных</a>
        </div>
      </div>
    </div>
  </div>
</footer>
